<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Effettua il login</h1>
        <div class="form-group">
            <label for="input-user">Username</label>
            <input type="text" class="form-control" id="input-user" [(ngModel)]="user"/>
        </div>
        <div class="form-group">
            <label for="input-pass">Password</label>
            <input type="password" class="form-control" id="input-pass" [(ngModel)]="pass"/>
        </div>
        <button type="button" class="btn btn-primary" (click)="verifica()">Entra</button>
    </div>
</div>
