<div class="container">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="nome"/>
    </div>
    <div class="form-group">
        <label for="cogn">Cognome</label>
        <input type="text" class="form-control" [(ngModel)]="cogn"/>
    </div>
    <div class="form-group">
        <label for="emai">Email</label>
        <input type="text" class="form-control" [(ngModel)]="emai"/>
    </div>

    <button type="button" class="btn btn-primary" (click)="Iscriviti()">Iscriviti</button>
</div>